/* 首頁 */
::-webkit-scrollbar {
    display: none;
  }
.wrapper{
    background-image: url("../img/index.png");
    width: 1200px;
    height: 1000px;
    margin: 0 auto ;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0;
    animation: wrapper .3s .5s ease-out forwards; 
}
.wrapper h1{
    font-weight:bold;
    color: black;
    font-size: 60px;
    text-align: center;
    padding-top: 270px;
    opacity: 0;
    animation: h1 .4s .6s ease-out forwards;   
}
.wrapper h2{
    font-weight:bold;
    color: black;
    font-size: 40px;
    text-align: center;
	opacity: 0;
    animation: h2 .5s .8s ease-out forwards;   
}
@keyframes wrapper {
	0%{ transform: translateY(50px); opacity: 0; }
	80%{ transform: translateY(-10px); opacity: 1; }
	100%{ transform: translateY(0px); opacity: 1; }
}
@keyframes h1{
	0%{ transform: translateY(50px); opacity: 0; }
	80%{ transform: translateY(-10px); opacity: 1; }
	100%{ transform: translateY(0px); opacity: 1; }
}
@keyframes h2{
	0%{ transform: translateY(50px); opacity: 0; }
	80%{ transform: translateY(-10px); opacity: 1; }
	100%{ transform: translateY(0px); opacity: 1; }
}

/* 首頁最新消息 */
.news h3{
    color: white;
    font-size: 64px;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
    opacity: 0;
    transition: all 1.5s;
}
.news ul{
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 100px;  
}
.news li{
    box-sizing: border-box;
    width: 400px;
    clip-path: polygon(0% 25%, 50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%);
    margin: 20px;
}
.news li a{
    display: block;
    opacity: 0;
    transition: all 1.5s; 
}
.news li  img{
    width: 100%;
    height: 400px;
    display: block;
    object-fit: cover;   
}
.news li:hover{
    transform: scale(1.1);
    opacity: .7;
}

/* 首頁玩法 */
.main{
    background-image: url(../img/play.png);
    width: 1300px;
    height: 1600px;
    margin: 0 auto ;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    font-weight:bold;
}
.main_play{
    width: 1000px;
    height: 1600px;
    margin: 0 auto ;
}
.main h3{
    font-size: 64px;
    text-align: center;
    padding-top: 250px;
    padding-bottom: 70px; 
    opacity: 0;
    transition: all 1.5s; 
}
.main h4{
    font-size: 40px;
    padding: 10px;
    opacity: 0;
    transition: all 1.5s; 
}
.main p{
    font-size: 30px;
    opacity: 0;
    transition: all 1.5s; 
}

/* 首頁熱門主題 */
.out{
    width: 900px;
    margin: 0 auto;
    overflow: hidden;
}
.hot{
    margin:0 auto;
    width: 300px;
    padding-bottom: 200px;
    padding-top: 120px;  
}
.hot h3{
    font-size: 64px;
    color: white;
    text-align: center;
    padding-bottom: 100px;
    opacity: 0;
    transition: all 1.5s;
}
.hot_main{
    position: relative;
    height: 100%;
}
.myswiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}
.swiper-slide img {
    display: block;
    width: 100%;
}
h5{
    text-align: center;
    color: white;
    font-size: 24px;  
}