/* 首頁 */
::-webkit-scrollbar {
    display: none;
  }

@keyframes wrapper {
	0%{ transform: translateY(50px); opacity: 0; }
	80%{ transform: translateY(-10px); opacity: 1; }
	100%{ transform: translateY(0px); opacity: 1; }
}
@keyframes h1{
	0%{ transform: translateY(50px); opacity: 0; }
	80%{ transform: translateY(-10px); opacity: 1; }
	100%{ transform: translateY(0px); opacity: 1; }
}
@keyframes h2{
	0%{ transform: translateY(50px); opacity: 0; }
	80%{ transform: translateY(-10px); opacity: 1; }
	100%{ transform: translateY(0px); opacity: 1; }
}

/* banner */
#canvasbg{
  position: fixed;
  z-index: 1;
  width: 100%; 
  height: 100%;
}

#ImgWrapper { 
    position: relative;
    overflow: hidden; 
    /* border: 1px solid blue; */
    perspective: 2200px; 
}

#ImgWrapper img {
    position: absolute;
    width: 100vw;
    object-fit:cover;
}

#codeby{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: url(../img/play.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* 遊戲玩法 */
.main_play{
    width: 1000px;
}

/* 首頁最新消息 */
.news{
    position: relative;
    width: 100%;
    height: 120vh;
    overflow: hidden;
}
#scene{
    position: absolute;
    top:-20px;
    left: 110px;
    z-index: -10;
}
.news h1{
    text-align: center;
    font-size: 48px;
    margin: 150px auto 100px;
 }
  .news ul{
    width: 1000px;
    margin: 0 auto;
    display: flex;
  }
.news li{
    width: 300px;
    list-style: none;
    margin: 0 auto;
}
.news ul img{
    width: 100%;
}

/* 熱門主題 */
.hot h1{
    text-align: center;
    font-size: 48px;
    margin: 100px auto 100px;
 }
.swiper {
    width: 60%;
    height: 100%;
    margin: 100px auto ;
 }

.swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 首頁_RWD */
@media screen and (max-width:500px) {
    
}
