/* 最新消息 */
.news_banner{
    background-image: url(../img/news.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.news_main{
    position: relative;
    width: 1200px;
    height: 900px;
    margin: 0 auto;
}
.news_pic>img{
    position: absolute;
}
.news_shape>div{
    position: absolute;
}
.news1 {
    display: block;
    object-fit: cover;
    width: 320px;
    height: 350px;
    clip-path: polygon(50% 0%, 0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%);
    left: 280px;
    top:140px;
}
.news2 {
    display: block;
    object-fit: cover;
    width: 320px;
    height: 350px;
    clip-path: polygon(50% 0%, 0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%);
    left: 600px;
    top:140px;
}
.news3 {
    display: block;
    object-fit: cover;
    width: 320px;
    height: 350px;
    clip-path: polygon(50% 0%, 0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%);
    left:440px;
    top:403px;
}
.shape1{
    width:260px;
    top:210px;
    left: 10px;
}
.shape2{
    width: 260px;
    top:210px;
    left: 940px;
}
.shape3{
    width: 260px;
    top:500px;
    left: 155px;
}
.news_shape p{
    color: white;
    font-size: 28px;
}
.news_shape p:hover{
    color: #F4AD41;
}


/* 最新消息_RWD */
@media screen and (max-width:500px) {
    
}