/* 最新消息 */
.news_banner{
    background-image: url(../img/news.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.news_main{
    position: relative;
    width: 1200px;
    height: 900px;
    margin: 0 auto;
}
.news_pic>img{
    position: absolute;
}
.news_shape>div{
    position: absolute;
}
.news1 {
    display: block;
    object-fit: cover;
    left: 270px;
    top:120px;
}
.news2 {
    display: block;
    object-fit: cover;
    left: 610px;
    top:120px;
}
.news3 {
    display: block;
    object-fit: cover;
    left:440px;
    top:415px;
}

.shape1{
    width:260px;
    top:210px;
    left: 10px;
}
.shape2{
    width: 260px;
    top:210px;
    left: 970px;
}
.shape3{
    width: 260px;
    top:510px;
    left: 155px;
}
.news_shape p{
    color: white;
    font-size: 28px;
}
.news_shape p:hover{
    color: #F4AD41;
}


/* 最新消息_RWD */
@media screen and (max-width:500px) {
    
}